.playfield{
  display: none;
}

#start{
  margin-top: 50px;
}

body{
  background-image: url(../img/pig.jpg);
  background-size: cover;
}

#player1, #player2{
  background-color: grey;
  height: 550px;
  margin-top: 50px;
}

#rowMain{
  text-align: center;
}

#player1{
  border-right: thick solid black;
}

#player2{
  border-left: thick solid black;
}

#player1Button, #player2Button{
  margin-top: 150px;
}

#player1Pass, #player2Pass{
  margin-top: 20px;
}

h1{
  color: white;
  font-size: 30px;
}

h3{
  margin-top: 200px;
}

p{
  color: white;
}

li{
  font-size: 24px;
  font-family: fantasy;
  color: #d42b20;
}

#luck{
  font-size: 30px;
  margin-top: 50px;
  font-family: monotype corsiva;
  color: #24a20f;
}

#p1_1, #p1_2, #p1_3, #p1_4, #p1_5, #p1_6, #p2_1, #p2_2, #p2_3, #p2_4, #p2_5, #p2_6{
  display: none;
}

.player1Image, .player2Image{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 200px;
  width: 240px;
  background-color: transparent;
}

.rulesDiv{
  background-blend-mode: soft-light;
  background-color: #988a62;
  border-radius: 20%;
  display: none;
}
